html, body{
  margin: 0;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  display:flex;
  align-items:center;
  justify-content:center;
}

@media only screen and (max-width: 600px){
  textarea{
    width: 100vw;
    height: 80vh;
    resize: none;
  }
  button{
    width: 96%;
    height: 10vh;
  }
}

textarea{
  width: 100%;
  height: 80vh;
  resize: none;
}
button{
  width: 96%;
  height: 10vh;
}